<form method="post" action="{{ path('app_course_delete', {'id': course.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar el elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <i class="fa fa-trash"></i>
</form>
