{% extends 'base.html.twig' %}

{% block title %}Editar Miembros del Curso{% endblock %}

{% block body %}

    
  <div class="content-wrapper" style="transform: translateX(30px); width: calc(100% - 280px);">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
    <h1>Editar Miembros del Curso</h1>
    <div class=" btn btn-group-horizontal">
    {{ include('course/_form1.html.twig', {'button_label': 'Actualizar'}) }}


</div>


    </div>
    </div>
</div>
</section>
    </div>
{% endblock %}