<form method="post" action="{{ path('app_datatype_delete', {'id': datatype.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar el elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ datatype.id) }}">
    <button class="btn"><i class="fa fa-trash"></i></button>
</form>
