{% block form_row -%}
    <div class="clearfix"></div>
    <div class="row-fluid {% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {#{{- form_label(form) -}}#}
        {{- form_widget(form) -}}

    </div>
{%- endblock form_row %}