{% extends 'base.html.twig' %}       
   {% block title %}Nuevo Modelo de Diagrama a Probar{% endblock %}
   
   {% block body %}
   
    <div class="content-wrapper" style="transform: translateX(30px); width: calc(100% - 280px);">
       <!-- Content Header (Page header) -->
       <section class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-6">
                

       <h1>Nuevo Modelo de Diagrama a Probar</h1>
    
   <div class=" btn btn-group-horizontal">
       {{ include('model_diagram_test/_form.html.twig') }}
   </div>
   
   
   </div>
       </div>
   </div>
   </section>
       </div>
   {% endblock %}