<form method="post" action="{{ path('app_n_activity_delete', {'id': n_activity.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar el elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ n_activity.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
