<form method="post" action="{{ path('app_n_t_a_delete', {'id': n_tum.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar el elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ n_tum.id) }}">
    <button class="btn"><i class="fa fa-trash"></i></button>
</form>
