<form method="post" action="{{ path('app_p_class_delete', {'id': p_class.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar el elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ p_class.id) }}">
      <button class="btn"><i class="fa fa-trash"></i></button>
</form>