
{% extends 'base.html.twig' %}
{% form_theme form.codeline 'utiles/nolabels/bootstrap_nolabels_one_col.html.twig' %}

{% form_theme form.codeline.vars.prototype.entry 'utiles/nolabelcols/bootstrap_nolabels_all_col.html.twig' %}
       
   {% block title %}Nueva Soluci贸n Implementaci贸n{% endblock %}
   
   {% block body %}
   
    <div class="content-wrapper">
       <!-- Content Header (Page header) -->
       <section class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-6">
       <h1>Nueva Soluci贸n  Implementaci贸n</h1>
   <div class=" btn btn-group-horizontal">
       {{ include('success_code/_form.html.twig') }}
   </div>
   
   
   </div>
       </div>
   </div>
   </section>
       </div>
   {% endblock %}