<h1 class="display-4">
	XperienceUML/Actividad</h1>

<table class="table">
	<tbody>
		<tr>
			<th>
				<strong>
					<em>Título:</em>
				</strong>
			</th>
			<td>{{ a.title }}</td>
		</tr>
		<tr>
			<th>
				<strong>
					<em>Descripción:</em>
				</strong>
			</th>
			<td>{{ a.description }}</td>
		</tr>
		<tr>
			<th>
				<strong>
					<em>Lugar:</em>
				</strong>
			</th>
			<td>{{ a.place }}</td>
		</tr>
		<tr>
			<th>
				<strong>
					<em>Tipo:</em>
				</strong>
			</th>
			<td>{{ a.nta }}</td>
		</tr>
	</tbody>
</tr></tbody></table>
